:root{
  --white: #fff;
  --color-02: #01043a;
  --color-03: #4c7678;
}
.maq{border: 1px red solid !important;}
.mak{border-bottom: 1px red solid !important;}

.fw-100 {font-weight: 100;}
.fw-200 {font-weight: 200;}
.fw-300 {font-weight: 300;}
.fw-400 {font-weight: 400;}
.fw-500 {font-weight: 500;}
.fw-600 {font-weight: 600;}
.fw-700 {font-weight: 700;}
.fw-800 {font-weight: 800;}
.fw-900 {font-weight: 900;}

.fz-9 {font-size: 9px;}
.fz-10 {font-size: 10px;}
.fz-11 {font-size: 11px;}
.fz-12 {font-size: 12px;}
.fz-13 {font-size: 13px;}
.fz-14 {font-size: 14px;}
.fz-15 {font-size: 15px;}
.fz-16 {font-size: 16px;}
.fz-17 {font-size: 17px;}
.fz-18 {font-size: 18px;}
.fz-19 {font-size: 19px;}
.fz-20 {font-size: 20px;}
.fz-21 {font-size: 21px;}
.fz-22 {font-size: 22px;}
.fz-23 {font-size: 23px;}
.fz-24 {font-size: 24px;}
.fz-25 {font-size: 25px;}
.fz-26 {font-size: 26px;}
.fz-27 {font-size: 27px;}
.fz-28 {font-size: 28px;}
.fz-29 {font-size: 29px;}
.fz-30 {font-size: 30px;}

.w-100{width: 100%;}
.hvh-100{min-height: 100vh; height: auto;}
.ph-100{min-height: 100%; height: auto;}
.center{text-align: center;}

.align-l-t {/*IZQUIERDA ->  ARRIBA*/
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}
.align-l-c {/*IZQUIERDA ->  CENTRO*/
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.align-l-b {/*IZQUIERDA ->  ABAJO*/
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}
.align-c-t {/*CENTRO    ->  ARRIBA*/
  justify-content: center;
  align-items: flex-start;
  display: flex;
}
.align-c-c {/*CENTRO    ->  CENTRO*/
  justify-content: center;
  align-items: center;
  display: flex;
}
.align-c-b {/*CENTRO    ->  ABAJO*/
  justify-content: center;
  align-items: flex-end;
  display: flex;
}
.align-r-t {/*DERECHA   ->  ARRIBA*/
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}
.align-r-c {/*DERECHA   ->  CENTRO*/
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.align-r-b {/*DERECHA   ->  ABAJO*/
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

hr{border-bottom: 1px white solid;}

@media (min-width: 576px) and (max-width: 768px){
  /**/
}
@media (min-width: 768px) and (max-width: 992px){
  /**/
}
@media (min-width: 992px) and (max-width: 1200px){
  /**/
}
@media (min-width: 1200px) and (max-width: 7000px){
  /**/
}
